name: Build Docker On Release

on:
  release:
   types: [published]

jobs:
  deploy:
    name: Deploy Images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker source meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/dungeon-revealer
            ${{ secrets.DOCKER_USERNAME }}/dungeon-revealer

      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"

      - name: Node Install
        run: |
          npm install
          npm run build

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub with GHA Secrets
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Version Release
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: |
            linux/amd64
            linux/arm64
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/dungeon-revealer:latest
            ${{ secrets.DOCKER_USERNAME }}/dungeon-revealer:${{ github.ref_name }}
            ghcr.io/${{ github.repository_owner }}/dungeon-revealer:latest
            ghcr.io/${{ github.repository_owner }}/dungeon-revealer:${{ github.ref_name }}
